* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #f4f4f4;
    font-family: "Segoe UI";
    line-height: 150%;
}

.hidden {
    display: none !important;
}

.text-input {
    border: none;
    padding: 10px;
    background: #444;
    color: white;
    font-size: inherit;
}
.text-input:focus {
    outline: none;
}

.submit-button {
    font-size: inherit;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Overlay before joining */
#joining-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.nickname-input-area {
    background: #222;
    padding: 10px 20px;
    border-radius: 5px;
    width: max-content;
    z-index: 11;
}

#error-alert {
    background-color: #500;
    border: 2px solid #f88;
    padding: 8px 15px;
    width: fit-content;
    margin: 15px;
}

.main-content {
    margin: 1rem auto;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat {
    border-radius: 10px;
    padding: 16px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}

#chat-log {
    background: none;
    padding: 15px;
    margin: 15px 0;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.message {
    margin: 5px 0;
}
.message > .sender {
    margin-right: 1ch;
    background: #c9c9c9;
    color: black;
    padding: 2px 6px;
    border-radius: 5px;
}
.message.from-server {
    color: yellow;
}

#message-area {
    display: flex;
    align-items: center;
}

#message-input {
    width: 100%;
    resize: none;
    font-family: inherit;
    margin-right: 10px;
    max-height: 6lh;
    overflow-y: auto;
    field-sizing: content;
}